* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "cera pro", sans-serif;
  background-color: #fefbff;
}
html {
  font-size: 62.5%;
}
.navcontainer {
  padding: 1.2rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #fefbff;
  box-shadow: 0 8px 12px rgb(155, 40, 141, 0.1);
}
nav svg {
  max-width: 10rem;
  height: auto;
}
.items {
  font-size: 1.8rem;
  gap: 3rem;
  display: flex;
  list-style: none;
}
.items a {
  text-decoration: none;
  color: #9b288d;
  font-weight: 600;
}
.nav-but {
  display: inline-block;
  border: 1px solid var(--website_black, #242625);
  padding: 1.8rem 2rem;
  width: 15rem;
  text-align: center;
}
.nav-but:hover {
  box-shadow: #9b288d 8px 8px 0px 0px;
  transition: box-shadow 0.2s ease;
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0 !important;
  background-color: #9b288d;
}
.hero img {
  max-width: 90%;
  padding: 6rem 0 6rem 0;
}
.hero p {
  bottom: 10%;
  position: absolute;
  font-size: 9.6rem;
  color: #fefbff;
  text-align: center;
  padding: 0 12rem 0 12rem;
}
/* .accordian {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
  } */
.donate_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 2rem 0;
}
.donate_form p {
  font-size: 2.4rem;
}
#form-error {
  display: none;
  color: red;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 0;
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 2rem 0 2rem 0;
  width: 80rem;
  margin: 0 auto;
}
.title {
  font-size: 3.2rem;
  padding: 2rem 0 2rem 0;
}
.accordian {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.accordian-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border: #242625 1px solid;
  /* border-radius: 10px; */
  cursor: pointer;
}
.ques {
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem 2rem;
  font-weight: 500;
}
.icon {
  width: 3rem;
  margin-right: 2rem;
}
.content {
  font-size: 1.6rem;
  display: none;
  padding: 0rem 2rem 2rem 2rem;
  color: #000000;
}
.active {
  display: block;
}
/* //////////////////////////////// */

footer {
  background-color: #9b288d;
  color: #fefbff;

  padding: 3rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.footer-content a {
  text-decoration: none;
  color: #fefbff;
  font-size: 2.4rem;
}
.footer-content a:hover {
  color: rgb(202, 202, 202);
}
.footer-content img {
  max-width: 16rem;
}
.part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
}
.instalogo {
  max-width: 3rem;
}
.ytlogo {
  max-width: 3rem;
}
.footer-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.footer-items a {
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  .navcontainer {
    padding: 1.2rem 8rem;
  }
}

@media (max-width: 992px) {
  .navcontainer {
    padding: 1.2rem 6rem;
  }
  .hero p {
    font-size: 7rem;
    padding: 2rem 6rem;
  }
  .faq {
    width: 70rem;
  }
}

@media (max-width: 799px) {
  html {
    font-size: 50%;
  }
  .navcontainer {
    padding: 1.2rem 4rem;
  }
  .items {
    gap: 2rem;
  }
  .hero p {
    font-size: 7rem;
    padding: 2rem 6rem;
  }
  .donate_form iframe {
    width: 90%;
  }
  .donate_form p {
    font-size: 3rem;
  }
  footer .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  footer .footer-items {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-items a {
    margin: 0rem;
  }
  footer .part1 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 40%;
  }
  .faq {
    width: 55rem;
  }
  .hero p {
    font-size: 5rem;
  }
}
